<div class="row">
  <div class="col">
    <mat-card class="custom-mat-card" style="width: 15rem">
      <h2 class="pink-txt-color">Form fields</h2>

      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
      >
        <div
          class="example-box pink-txt-color"
          *ngFor="let item of todo"
          cdkDrag
        >
          {{ item }}
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="custom-mat-card" style="width: 25rem">
      <h2 class="pink-txt-color">Drag and drop from fields</h2>

      <div
        style="padding: 3%"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="homeService.appData"
        [cdkDropListConnectedTo]="[todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box1" *ngIf="homeService.appData">
          <div
            class="example-box1"
            *ngFor="let item of homeService.appData"
            cdkDrag
          >
            <div style="display: flex; justify-content: space-between">
              <div style="width: 10rem">
                <mat-form-field
                  *ngIf="
                    ['text', 'email', 'password', 'tel', 'number'].includes(
                      item.type
                    )
                  "
                  class="example-full-width"
                  appearance="fill"
                >
                  <mat-label>{{ item.label }}</mat-label>
                  <input
                    matInput
                    placeholder="Enter txt"
                    value=""
                    type="{{ item.type }}"
                  />
                </mat-form-field>
                <button
                  *ngIf="item.type === 'button' || item.type === 'submit'"
                  mat-raised-button
                  color="primary"
                  type="{{ item.type }}"
                  style="margin-top: 1rem"
                >
                  {{ item.value }}
                </button>
              </div>
              <div>
                <mat-icon
                  (click)="handleDeleteDropField(item.id)"
                  class="pink-txt-color"
                  style="margin-right: 2rem; margin-left: 2rem"
                  >delete</mat-icon
                >
                <mat-icon (click)="openDialog(item)" class="pink-txt-color"
                  >edit</mat-icon
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: end">
        <button
          mat-button
          class="pink-txt-color"
          (click)="handlePreviewClick(homeService.appData)"
          *ngIf="homeService.appData && homeService.appData.length > 0"
          style="background-color: #2c3333; color: #fff"
        >
          Preview
        </button>
      </div>

      <div *ngIf="homeService.appData && homeService.appData.length > 0">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Filename</mat-label>
          <input
            matInput
            placeholder="Enter txt"
            value="{{ fileNameForUpdate }}"
            type="text"
            #fileName
          />
        </mat-form-field>
        <h3 *ngIf="fileNameError">Invalid file name</h3>
        <button
          mat-raised-button
          class="pink-txt-color"
          (click)="handleSaveFormClick(fileName.value)"
          *ngIf="homeService.appData && homeService.appData.length > 0"
          style="margin-left: 1rem; background-color: #2c3333; color: #fff"
        >
          Save
        </button>
      </div>
    </mat-card>
  </div>
  <div class="col" style="margin-right: 2rem">
    <mat-card class="custom-mat-card">
      <pre class="example-container1">{{ homeService.appData | json }}</pre>
    </mat-card>
  </div>
</div>
